body {
  background-color: #EBEBEB;
  font-family: 'PT Mono', monospace;
  color: rgb(10, 10, 10);
  font-size: 20px;
  line-height; 2;
  text-align: center;
  margin: 0;
}

#banner {
  background-size: cover;
  margin: 10px;
  padding: 10px;
}

#logo {
  width: 200px;
  border-radius: 50%
}

#footer {
  background-color: black;
  background-size: cover;
  color: white;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.card {
  margin: 20px;
  padding: 20px;
/*border: 10px solid lightgrey;
border-radius: 5px;*/
}

.corner {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 1;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: rgba(100, 100, 100, 1);
}

a:visited {
  text-decoration: inherit;
}

a:hover {
  color: #D23333;
}

li {
  list-style-type: none;
  display: inline;
}
